extends layout

block content
  div.container
    h1 #{title}
    h3 Új mérkőzés
    table.table.table-striped(data-ng-controller="matchHandlerController")
      thead
        tr
          th #
          th Helyszín
          th Csapat 1
          th Csapat 2
          th Gól 1
          th Gól 2
          th Kezdés
          th Lejátszott
          th(style="min-width: 100px;") kezelés
      tbody
        tr
          td új
          td
            input.form-control(data-ng-model='match.place')
          td
            select.form-control(data-ng-model='match.team1')
              option(data-ng-repeat='team in teamList' value='{{team._id}}') {{team.name}} 
          td
            select.form-control(data-ng-model='match.team2')
              option(data-ng-repeat='team in teamList' value='{{team._id}}') {{team.name}} 
          td
            input.form-control(data-ng-model='match.goal1')
          td
            input.form-control(data-ng-model='match.goal2')
          td
            input.form-control(type='date' data-ng-model='match.startDate')
          td
            input(type='checkbox' data-ng-model='match.done')
          td
            button.btn.btn-success(data-ng-click='createMatch(match)') mentés
        tr
          td(colspan='9')
        tr(data-ng-repeat='match in matchList')
          td {{$index+1}}
          td
            input.form-control(data-ng-model='match.place')
          td
            select.form-control(data-ng-model='match.team1')
              option(data-ng-repeat='team in teamList' value='{{team._id}}') {{team.name}} 
          td
            select.form-control(data-ng-model='match.team2')
              option(data-ng-repeat='team in teamList' value='{{team._id}}') {{team.name}} 
          td
            input.form-control(data-ng-model='match.goal1')
          td
            input.form-control(data-ng-model='match.goal2')
          td
            input.form-control(type='date' data-ng-model='match.startDate')
          td
            input(type='checkbox' data-ng-model='match.done')
          td
            .btn-group
              button.btn.btn-info(data-ng-click='updateMatch(match)')
                span.glyphicon.glyphicon-refresh
              button.btn.btn-danger(data-ng-click='deleteMatch(match)')
                span.glyphicon.glyphicon-trash
          
          
          
          
          
          
          
          
          